.toast{
        display: block !important;
        box-sizing: border-box !important;
        position: fixed !important;
        right: 0 !important;
        top: 0 !important;
        padding: 0 !important;
        width: 378px !important;
        z-index: 2147483647 !important;
        background-color: #e8e8e8 !important;
        color: #4d4d4d !important;
        border: 1px solid #ccc !important;
        border-top: none !important;
        border-radius: 0 !important;
        font-family: Helvetica, Arial, sans-serif !important;
        letter-spacing: 0 !important;
}

